
:root {
  /* Backgrounds */
  --bg-main: #F5F7FA;
  --bg-white: #FFFFFF;
  --bg-dark: #000;
  --bg-secondary: #909090;
  --bg-soft-blue: #E3F2FD;
  --bg-soft-lime: #F0F4C3;
  --bg-soft-lavender: #E8EAF6;
    --bg1:#E37222;
    --bg2:#07889B;
    --bg3:#66B9BF;
    --bg4:#EEAA7B;
    --bg4-rgb: 238, 170, 123;
  /* Texts */
  --text-light:#FFF;
  --text-primary: #1E293B;
  --text-secondary: #334155;
  --text-muted: #475569;
  --text-accent-blue: #0D47A1;
  --text-accent-purple: #6D28D9;
}

.gambar{
width: 100px;
filter:drop-shadow(0 0 5px gray);
transition: all 0.3s ease-in-out;
border-radius: 10px;
}
.gambar:hover{
width: 180px;
cursor: pointer;
transform: rotate(360deg);
}

body{
    margin: 10px 200px!important;
    background-color: var(--bg-secondary) !important;
    font-family: 'Inter', sans-serif!important;
}
.container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 150px 1fr 50px;
    min-height: 100vh;
    gap:5px
}
.header {
    grid-column: 1/4;
    background: linear-gradient(145deg, var(--bg2), var(--bg3));
    box-shadow: 
        2px 10px 20px #f9f9fa,
        -10px -10px 20px #726e6e;
    border-radius: 10px;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.leftSide{
    background-color: var(--bg-soft-blue);
}
.konten{
    background-color: var(--bg-main);
}
.rightSide{
    background-color:var(--bg-soft-blue);
}
.footer{
    grid-column: 1/4;
    background-color: var(--bg2);  
    color: var(--text-light);
    text-align: center;
    padding-top: 10px;
}

.menu{
    list-style-type: none;
    text-align: left;
    /* border: solid; */
    padding-left: 0;
}
.menu-item{
    /* border: solid; */
    margin: 2px;
    font-weight: bold;
    padding: 10px;
}
.menu-item:hover{
    background-color: var(--bg-dark);
    cursor: pointer;
    color: var(--text-light);
}
.hero-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    position: relative;
    bottom: 0px; 
    margin: 10px;
    gap: 10px;
    }
.judul{
    /* margin-bottom: 100px; */
    margin-top: 10px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid; */
    text-align: center;
    color: var(--text-light);
}
.hero-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: var(--text-light);
    text-align: justify;
    border-left: solid;
    border-left-style:groove;
    border-left-color: var(--bg4);
    border-left-width: 5px;
    padding: 5px;
    background-color: rgba(var(--bg4-rgb), 0.2);
}
.slogan{
    padding: 5px;
    font-weight: bold;
}

.isi-konten{
    padding:5px;
}
a{
    text-decoration: none;  /* hilangkan underline */
    color: inherit; 
}

.formulir{
    border-style:groove;
    padding: 5px;
}
.judul-form{
    text-align: left;
    font-weight: bold;
    border-bottom: solid;
    border-bottom-color: #000;
    padding: 5px;
    font-size: 14pt;
}
/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */
@media (max-width: 768px) {
.container {
    grid-template-columns: 1fr;     /* Semua jadi 1 kolom */
    grid-template-rows: auto;       /* Tinggi menyesuaikan */
}
.judul{
    font-size: large;
    columns: var(--text-light);
}
.header{
    border-radius: 1px;
}
.hero-container{
    display: none;
}
.header,
.leftSide,
.konten,
.rightSide,
.footer {
    grid-column: 1 / 2; /* Semua elemen memenuhi 1 kolom */
}

body{
    margin:0;
    font-size: 15px;
}
h1 {
        font-size: 28px;
    }
}


        